---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>"secret" link list✨</h1>
			<p>
				This is a list of links that i find helpful or interesting, maybe you will too! <br>
                (or maybe you won't, who knows) <br>
                they are mostly here so i can find them again when i need them. 🤷‍♀ ️
			</p>
			<section id="links">
                <h2>links</h2>
                <ul>
                    <li><a href="https://github.com/adangert/JoustMania">Joust Mania - Playstation Move based party game</a></li>
                    <li><a href="https://dlug.de/projekte/hacker-events_2024.html">List of Chaos Events</a></li>
                    <li><a href="https://github.com/45Drives/cockpit-zfs-manager">Cockpit ZFS Manager</a></li>
                    <li><a href="https://tonsky.me/blog/checkbox/">Checkboxes over time - In Loving Memory of Square Checkbox</a></li>
                </ul>
            </section>
		</main>
		<Footer />
	</body>
</html>
